.grid {
    width: 80%;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid div {
    background-color: wheat;
    color: black;
    padding: 10px;
}





.grid2 {
    margin-top: 30px;
    background-color: dodgerblue;
    width: 600px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 200px auto;
    gap: 10px;
}

.grid2 div {
    background-color: white;
    padding: 20px 30px;
}








.grid3 {
    margin-top: 30px;
    background-color: violet;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20px 80px;
    gap: 10px;
    padding: 10px;
}


.grid3 div {
    background-color: indigo;
    color: white;
}






.grid4{
     margin-top: 30px;
    background-color: navy;
    width: 70%;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4,1fr);
}
.grid4 div{
    background-color: skyblue;
    padding: 20px 0px;
    text-align: center;
    
}








.grid5{
    margin-top: 30px;
    background-color: rgb(4, 247, 166);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    width: 80%;
}
.grid5 div{
    background-color: rgb(237, 122, 122);
    text-align: center;
    padding: 20px 0;
}
