.row {
    display: flex;
    background-color: aquamarine;
    width: 30%;
    gap: 10px;
    padding: 10px;
}

.row div {
    background-color: rgb(3, 114, 114);
    color: white;
    padding: 10px;
}





.row-reverse {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(3, 114, 114);
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.row-reverse div {
    background-color: aquamarine;
    padding: 10px;
}





.column {
    position: absolute;
    right: 150px;
    top: 10px;
    float: right;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 100px;
    padding: 10px;
    gap: 10px;
}

.column div {
    background-color: indianred;
    padding: 10px;
}





.column-reverse {
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 20px;
    display: flex;
    float: right;
    background-color: indianred;
    width: 100px;
    padding: 10px;
    flex-direction: column-reverse;
    gap: 10px;
    box-sizing: border-box;
}

.column-reverse div {
    background-color: blueviolet;
    padding: 10px;
}







.no-wrap {
    margin-top: 90px;
    background-color: #04AA6D;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 70%;
    gap: 20px;
}
.no-wrap div{
    background-color: aquamarine;
    padding: 10px 25px;
}







.wrap{
    margin-top: 30px;
    background-color:rgb(3, 114, 114) ;
    max-width: 900px;
    display: flex;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.wrap div{
    background-color:#04AA6D ;
    padding: 10px 25px;
}