body{
    counter-reset: short full p;
}

h1::before{
    counter-increment: short;
    content: counter(short) '. ';
}


h2::before{
    counter-increment: full -1;
    content: counter(full) '. ';
}


p::before{
    counter-increment: p 2;
    content: counter(p) '. ';
}
