 .rsp-img {
     max-width: 100%;
     height: auto;
 }

 .img img {
     margin-top: 40px;
     width: 300px;
     height: 200px;
 }

 .text {
     margin-top: 40px;
     position: relative;
 }

 .top-left {
     position: absolute;
     top: 5px;
     left: 5px;
 }

 .top-right {
     position: absolute;
     top: 5px;
     right: 5px;
 }

 .bottom-right {
     position: absolute;
     bottom: 5px;
     right: 5px;
 }

 .bottom-left {
     position: absolute;
     bottom: 5px;
     left: 5px;
 }

 .center {
     position: absolute;
     top: 50%;
     left: 50%;
 }





 .avatar1{
     margin-top: 40px;
     width: 300px;
     height: 300px;
     position: relative;
 }

 .overly {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background-color: #008CBA;
     transition: 0.5s;
     opacity: 0;
 }

 .avatar1-text {
     position: absolute;
     top: 50%;
     right: 50%;
 }

 .avatar1:hover .overly {
     opacity: 1;
 }




 .flip{
    margin-top: 40px;
 }

 .flip img:hover{
    transform: scaleX(-1);
 }